<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9 no-js"><![endif]-->
<!--[if IE 8 ]><html class="ie8 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8" />

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% include 'site-social-meta' %}

  {% capture font_fam_one %}{{ settings.heading_font | replace: ' ', '+' }}{% endcapture %}
  {% capture font_fam_two %}{{ settings.title_font | replace: ' ', '+' }}{% endcapture %}
  {% capture font_fam_three %}{{ settings.body_font | replace: ' ', '+' }}{% endcapture %}

  {% capture google_font_url %}fonts.googleapis.com/css?family={{font_fam_one}}:400,700{% endcapture %}

  {% unless google_font_url contains font_fam_two %}
      {% capture google_font_url %}{{google_font_url}}|{{font_fam_two}}:400,700{% endcapture %}
  {% endunless %}

  {% unless google_font_url contains font_fam_three %}
      {% capture google_font_url %}{{google_font_url}}|{{font_fam_three}}:400,700{% endcapture %}
  {% endunless %}

  <link href="http://{{ google_font_url }}" rel="stylesheet" type="text/css">
  <link href="https://{{ google_font_url }}" rel="stylesheet" type="text/css">

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <!-- SCRIPTS -->
  <!--[if lt IE 9]>{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}<![endif]-->
  {{ 'modernizr.min.js'  | asset_url | script_tag }}
  {{ 'respond.min.js'  | asset_url | script_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  <!-- JQUERY -->
  {{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' | script_tag }}
  <!-- jQuery Dependent -->
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'handlebars.min.js' | asset_url | script_tag }}

  {{ content_for_header }}

  <title>{{ shop.name }}</title>

</head>

{% capture body_class %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} image-hover-light cta-fill-{{settings.cta_button_style}}{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }}">

  <div class="container-wrapper" id="SiteContainer">
      <!-- CONTENT -->
      <div class="container">
        {{ content_for_layout }}
      </div>
  </div>
 
</body>
</html>
