{% layout 'password' %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ shop.name | escape }}">
<meta property="og:url" content="{{ shop.url }}">
<meta property="og:description" content="{% unless shop.description == blank %}{{ shop.description | escape }}{% else %}{{ shop.name | escape }}{% endunless %}">
<meta name="description" content="{% unless shop.description == blank %}{{ shop.description | escape }}{% else %}{{ shop.name | escape }}{% endunless %}" />
<meta property="og:image" content="{{ section.settings.logo | img_url: '240x'}}">
<meta property="og:image:secure_url" content="{{ section.settings.logo | img_url: '240x'}}">


<div class="row row-lg centered">
  {% if section.settings.logo != blank %}
  <a href="/" class="nav-item main-logo">
   <img src="{{ section.settings.logo | img_url: '240x'}}">
  </a>
  {% else %}
  <h1 class="nav-item main-logo main-logo__text" itemscope itemtype="http://schema.org/Organization">
    <a href="/" itemprop="url">{{ shop.name | escape }}</a>
  </h1>
  {% endif %}
</div>
<div class="password-wrapper row row-sm centered">

  <header class="password-header bodyWrap-spacer"></header>

  <div class="password-signup s1 med_s23 inline-block">
    <h1>{{ 'password.content.welcome_headline' | t }}</h1>

    <div class="signup-form">

    {% form 'customer' %}

    {% unless shop.password_message == blank %}
      {% unless form.posted_successfully? %}
      <p class="password-message">{{ shop.password_message }}</p>
      {% endunless %}
    {% endunless %}

    {% if form.errors %}
    <div class="feedback error p">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    {% if form.posted_successfully? %}
      <p>{{ 'password.forms.success' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="prospect, password page, newsletter subscriber">
        <p class="form-field">
        <input type="email" name="contact[email]" id="email" class="email" placeholder="{{ 'password.forms.email_placeholder' | t }}">
        <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
        <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
      </p>
        <input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
    {% endif %}

    {% endform %}
    </div>

  </div>
  
  <div class="block-divider"><span class="icon-divider"></span></div>

  <div class="password-login s1 med_s23 inline-block">

    <h3>{{ 'password.forms.enter_password_title' | t }}</h3>

    <div class="signup-form">

      {% form 'storefront_password' %}

        {% if form.errors %}
        <div class="feedback error p">
          {{ form.errors | default_errors }}
        </div>
        {% endif %}

        <p class="form-field">
          <input type="password" name="password" class="password inline">
        </p>
        <p class="form-field">
          <input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
        </p>
        <p class="form-field">
          <label>{{ 'password.content.admin_link' | t }} <a href="/admin">{{ 'password.content.admin_login' | t }}</a></label>
        </p>

      {% endform %}
    </div>
  </div>

  <footer class="password-footer">
    <div class="password-footer-content">
      <p>{{ 'password.content.powered_by' | t }} {{ powered_by_link | replace: "Powered", "powered"}}</p>
    </div>
  </footer>

</div><!-- End password-wrap -->

<script type="text/javascript">
  
jQuery(function($){
  var $targets = $('.password-signup, .password-login');
  
  $targets.each( function(){
    var $el = $(this);
    if ( $el.find('div.errors').length ) {
      $el.find('div.errors').find('input.password, input.email').focus();
    }
  })
});

</script>


{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    }
  ]
}
{% endschema %}